
  #googleImg {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:350px;
    height:400px;
    margin:auto;
  }
  #forms{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:500px;
    height:100px;
    margin:auto;
  }
  a{
    margin-left: 10%;
  }
  #search{
    font-size:20px;
  }
  input {
    border-radius: 20px;
    padding: 5px;
  }
  footer {
    margin-left: 0;
  }
  #luckydip{
    font-size: 20px;
    margin: 6px;
    margin-left: 50px;
 }
 #search-button{
    font-size: 20px;
    margin-left: 20px;
 }
