
  #mydiv {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:300px;
    height:150px;
    margin:auto;
    size: 20px;
  }
  a{
    margin-left: 10%;
  }
  #search{
    font-size:20px;
  }
  input {
    border-radius: 20px;
  }
  footer {
    margin-left: 0;
  }
  #btn{
    font-size: 20px;
}
